Bonus for SQL-challenge in Bootcamp class

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from sqlalchemy import text

In [11]:
engine = create_engine('postgresql://postgres:**************@localhost:5432/EmployeeSQL')
# connection = engine.connect()

In [14]:
with engine.connect() as connection:
    result = connection.execute(text("select * from departments"))
    for row in result:
        print(row)

('d001', 'Marketing')
('d002', 'Finance')
('d003', 'Human Resources')
('d004', 'Production')
('d005', 'Development')
('d006', 'Quality Management')
('d007', 'Sales')
('d008', 'Research')
('d009', 'Customer Service')